@charset "UTF-8";

@font-face {
    font-family: 'Shrikhand';
    src: url(fontes/Shrikhand-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url(fontes/Outfit-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root{
    --fonte1: 'Shrikhand', Verdana, sans-serif;
    --fonte2: 'Outfit', Arial, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}


html, body{
    min-height: 100vh;
    background-color: rgb(207, 207, 207);
    font-family: var(--fonte2);
}


header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte1);
    font-size: 8vw
}
header>p{
    padding-bottom: 45px;
}


a{
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    font-style: italic;
    transition: 0.5s;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}
a:visited{
    color: gray;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.2em;
}
section>p{
    padding-bottom: 2em;
}


.normal{
    background-color: white;
    padding-left: 40px;
}


.imagem{
    background-color: rgb(83, 83, 83);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}
#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
#img02{
    background-image: url('../imagens/background002.jpg');
}
.imagem>p{
    background-color: rgba(0, 0, 0, 0.711);
    padding: 15px;
    display: inline-block;
    border-radius: 20px;
    transition: 1s;
}
.imagem>p:hover{
    background-color: white;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}

footer:hover{
    margin: 20px;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0px 0px 40px 10px rgba(107, 107, 107, 0.555);
}